body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

.sidebar{
position:fixed;
width:220px;
height:100%;
background:#020617;
padding:20px;
}

.sidebar h2{
color:#38bdf8;
}

.sidebar a{
display:block;
color:white;
text-decoration:none;
margin:15px 0;
}

.sidebar a:hover{
color:#38bdf8;
}

.main{
margin-left:240px;
padding:40px;
}

.cards{
display:flex;
gap:20px;
}

.card{
background:#1e293b;
padding:20px;
border-radius:10px;
width:200px;
}

.card a{
display:inline-block;
margin-top:10px;
color:#38bdf8;
text-decoration:none;
}